html {
  background-color: white;
  /* background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%); */
  min-height: 1000px;
  font-family: "helvetica neue";
}

body {

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 95vh;
}

main {
  text-align: center;
  flex: 1 0 auto;
}
.padding{
  padding:0 20%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #fff;
  padding: 10px;
  background-color: red;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: red;
  text-align: center;
  color: white;
}

form.edit {
  display: flex;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  width: 500px;
}

.item > input {
  margin-right: 20px;
  width: 100px;
  margin-left: 12px;
}

.item:last-child {
  border-bottom: 0;
}

input[type="checkbox"] {
  margin: 20px;
  margin-left: 0;
}

p {
  margin: 0;
  padding: 20px 0;
  font-size: 20px;
  color: black;
}

form {
  text-align: center;
  margin-left: 20px;
}

button.add {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: white;
  color: black;
  font-size: 30px;
  border-width: 0;
}

button.edit {
  margin-left: 0px;
  margin-right: 20px;
  border: none;
  background: none;
}

.icon {
  height: 20px;
}

input[type="text"] {
  text-align: left;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 80%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 white;
}

::placeholder {
  color: lightgray;
  opacity: 1;
}

h3 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: red;
  color: white;
}

footer {
  flex: 0 0 auto;
  color: white;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  display: flex;
  font-size: x-large;
  align-items: center;
  height: 10vh;
  padding: 0rem 1.5rem;
  background-color: red

  }
  nav > ul {
    display: flex;
    gap: 30px;
  }
  ul > li {
    list-style: none;
    font-family: ui-rounded;
    font-size: xx-large;
    cursor: pointer;
    color: white;
   
  }
  li > a{
  
    text-decoration: inherit;
    color: white;
  
  }