<nav>
    <h2>BBMS ADMIN</h2>
    <ul>
        <li><a href="/AdminHome" class="nav-button">Admin Home</a></li>
        <li><a href="/history" class="nav-button">Past Request </a></li>
        <li><a href="/adminHandleDonor" class="nav-button">Donor Request's</a></li>
        <li><a href="/" class="nav-button">LogOut</a></li>
    </ul>
</nav>
