<nav>
    <h2>BBMS HOME</h2>
    <ul>
        <li><a href="/secrets" class="nav-button">Request Blood</a></li>
        <li><a href="/donorreq" class="nav-button">Donor Appoimtment</a></li>
    </ul>
</nav>