<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="./style/adminlogin.css">
</head>

<body>
    <div class="container">
        <form action="/adminlogin" method="post">
            <label for="id">Admin Id</label>
            <input type="text" name="id" required>
            <label for="password">Admin Password</label>
            <input type="text" name="password" required>
            <button type="submit" class="btn">Admin Login</button>
        </form>
    </div>
</body>

</html>