<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./style/signup.css">
</head>

<body>
    <div class="container">
        <div class="image">
            <section class="hero-section">
                <h1>Login Here , Dont Worry . You are at Right Place❤️</h1>
                <form action="/login" method="post">
                    <label for="Aadhar"></label>
                    <input id="input" type="number" name="aadhar" placeholder="Enter Your Aadhar" autocomplete="off" autofocus="true" required>
                    <label for="Password"></label>
                    <input id="input" type="text" name="password" placeholder="Enter password" autocomplete="off" autofocus="true" required>
                    <button type="submit" class="btnn">Login</button>
                </form>
            </section>
        </div>
    </div>
</body>
</html>
